@font-face {
    font-family: 'HLXSJT-Font';
    font-display: swap;
    src: url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HongLeiXingShuJianTi/HongLeiXingShuJianTi-2.otf') format("truetype");
}