@font-face {
    font-family: 'HongLeiXingShu';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('HongLeiXingShuJianTi'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HongLeiXingShuJianTi/HongLeiXingShuJianTi-2.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HongLeiXingShuJianTi/HongLeiXingShuJianTi-2.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HongLeiXingShuJianTi/HongLeiXingShuJianTi-2.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HongLeiXingShuJianTi/HongLeiXingShuJianTi-2.ttf') format('truetype');
}

@font-face {
    font-family: 'HuangKaiLvShi';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('HuangKaiLvShiShouXieTi'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HuangKaiLvShiShouXieTi/huangkaihuaLawyerfont-2.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HuangKaiLvShiShouXieTi/huangkaihuaLawyerfont-2.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HuangKaiLvShiShouXieTi/huangkaihuaLawyerfont-2.ttf') format('truetype');
}