@font-face {
    font-family: 'MiSans-Bold';
    font-display: swap;
    font-weight: bold;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-Bold'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-Bold.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-Bold.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-Bold.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MiSans-Demibold';
    font-display: swap;
    font-weight: 600;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-Demibold'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-Demibold.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-Demibold.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-Demibold.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-Demibold.ttf') format('truetype');
}

@font-face {
    font-family: 'MiSans-ExtraLight';
    font-display: swap;
    font-weight: 200;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-ExtraLight'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-ExtraLight.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-ExtraLight.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-ExtraLight.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MiSans-Heavy';
    font-display: swap;
    font-weight: 900;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-Heavy'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-Heavy.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-Heavy.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-Heavy.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'MiSans-Light';
    font-display: swap;
    font-weight: 300;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-Light'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-Light.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-Light.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-Light.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MiSans-Medium';
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-Medium'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-Medium.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-Medium.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-Medium.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MiSans-Normal';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-Normal'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-Normal.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-Normal.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-Normal.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-Normal.ttf') format('truetype');
}

@font-face {
    font-family: 'MiSans-Semibold';
    font-display: swap;
    font-weight: 600;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-Semibold'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-Semibold.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-Semibold.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-Semibold.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'MiSans-Thin';
    font-display: swap;
    font-weight: 100;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-Thin'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-Thin.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-Thin.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-Thin.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'MiSans-Regular';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('MiSans-Regular'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff2/MiSans-Regular.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/woff/MiSans-Regular.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/otf/MiSans-Regular.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/MiSans/ttf/MiSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'HongLeiXingShu';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('HongLeiXingShuJianTi'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HongLeiXingShuJianTi/HongLeiXingShuJianTi-2.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HongLeiXingShuJianTi/HongLeiXingShuJianTi-2.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HongLeiXingShuJianTi/HongLeiXingShuJianTi-2.otf') format('opentype'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HongLeiXingShuJianTi/HongLeiXingShuJianTi-2.ttf') format('truetype');
}

@font-face {
    font-family: 'HuangKaiLvShi';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    crossorigin: anonymous;
    src:
            local('HuangKaiLvShiShouXieTi'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HuangKaiLvShiShouXieTi/huangkaihuaLawyerfont-2.woff2') format('woff2'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HuangKaiLvShiShouXieTi/huangkaihuaLawyerfont-2.woff') format('woff'),
            url('https://cdn.jsdmirror.com/gh/jieniyou/cdn-files@lin/font/HuangKaiLvShiShouXieTi/huangkaihuaLawyerfont-2.ttf') format('truetype');
}