@font-face {
    font-family: 'HKLSSXT-Font';
    font-display: swap;
    src: url('https://cdn.jsdmirror.cn/gh/jieniyou/cdn-files/main/font/HuangKaiLvShiShouXieTi/huangkaihuaLawyerfont-2.ttf') format("truetype");
}